#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

button:focus,
button:active {
  outline: none;
  border: none;
}

#root h1 {
  width: 100%;
}

form {
  width: 400px;
}

@media screen and (max-width: 450px) {
  #root {
    width: 100%;
    padding: 0 20px;
  }
  form {
    width: 100%;
  }
}
